body {
	font-family: Arial;
	background-color: #4ad;
  white-space:nowrap;
  margin: 5px;
}

/*#folders {
	width: 1300px;
}

#header {
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-left: 10px;
}

#back {
	cursor: pointer;
	background: #3498db;
	background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
	background-image: -moz-linear-gradient(top, #3498db, #2980b9);
	background-image: -ms-linear-gradient(top, #3498db, #2980b9);
	background-image: -o-linear-gradient(top, #3498db, #2980b9);
	background-image: linear-gradient(to bottom, #3498db, #2980b9);
	-webkit-border-radius: 20;
	-moz-border-radius: 20;
	border-radius: 20px;
	border: 2px solid black;
	color: #ffffff;
	font-size: 40px;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	margin: 10px;
}*/

div.designtable {
  width: 1300px;
  background: #ccc;
	border: 2px solid black;
  border-radius: 10px;
  
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

div.designthumbnail {
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-size: 14pt;
}

img.designthumb {
	width: 230px;
	margin-bottom: 8px;
	max-height: 350px;
}

a.folder {
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	color: #000;
	font-size: 30px;
	border: 2px solid #008;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	width: 260px;
	height: 80px;
	background-image: linear-gradient(to top, #08f, #39c);
	vertical-align: middle;
	float: left;
	line-height: 70%;
}
img.foldericon {
	height: 35px;
	width: 35px;
	vertical-align: middle;
	margin-right: 8px;
}
span.subtitle {
	font-size: 20px;
	font-weight: normal;
}

#designbox {
	display: inline-block;
	background: #ccc;
	border: 2px solid black;
	border-radius: 5px;
	padding: 5px;
	width: 900px;
	text-align: center;
}
img.design {
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}

#colortablecontainer {
	display: inline-block;
	margin-top: 10px;
	background: #ccc;
	border: 2px solid black;
	border-radius: 5px;
}

table.colortable {
	text-align:center;
	margin-top: 10px;
}
table.colortable td {
	padding: 0px 10px;
}
table.colortable tr {
	height: 30px;
}
table.colortable tr:first-child {
	font-weight: bold;
}
table.colortable .colorbox {
	width: 40px;
	border: 2px solid black;
}
